In [23]:
import module_loader
import pandas as pd
from bookirds.curves import *
from bookirds.dual import Dual

### Define our Market Rates and Solve our Curve

We will create 1y, 2y, 5y and 10y par swap rates

In [25]:
nodes = {
    datetime(2022, 1, 1): Dual(1, {"v0": 1}),
    datetime(2023, 1, 1): Dual(1, {"v1": 1}),
    datetime(2024, 1, 1): Dual(1, {"v2": 1}),
    datetime(2027, 1, 1): Dual(1, {"v3": 1}),
    datetime(2032, 1, 1): Dual(1, {"v4": 1})
}
swaps = {
    Swap(datetime(2022, 1, 1), 12*1, 12, 12): 1.210,
    Swap(datetime(2022, 1, 1), 12*2, 12, 12): 1.635,
    Swap(datetime(2022, 1, 1), 12*5, 12, 12): 1.885,
    Swap(datetime(2022, 1, 1), 12*10, 12, 12): 1.930,
}
s_cv = SolvedCurve(
    nodes=nodes,
    swaps=list(swaps.keys()),
    obj_rates=list(swaps.values()),
    interpolation="log_linear",
    algorithm="levenberg_marquardt"
)
print(s_cv.iterate())

tolerance reached (levenberg_marquardt) after 9 iterations, func: 4.763309217681635e-15

Check that our solved curve is re-pricing our input swap rates

In [28]:
for swap in swaps.keys():
    print(swap.rate(s_cv).real)

1.2100000001274405
1.635000000529199
1.8850000037073773
1.9299999310850648

Yes, close enough!

Lets check that our risk function generates risk only for the exact instrument

In [30]:
risk = {}
for swap in swaps.keys():
    risk.update({swap.end: swap.risk(s_cv)[:, 0]})
    
df = pd.DataFrame(risk, index=["1y", "2y", "5y", "10y"])
df.style.format("{:.3f}")

That is close enough with tolerance. 

### Forward to Par Jacobian

Now lets consider some forward swaps, and update their rates with our solved curve, and risk these swaps against our curve.

In [31]:
fwd_swaps = {
    Swap(datetime(2022, 1, 1), 12*1, 12, 12): 1,
    Swap(datetime(2023, 1, 1), 12*1, 12, 12): 1,
    Swap(datetime(2024, 1, 1), 12*3, 12, 12): 1,
    Swap(datetime(2027, 1, 1), 12*5, 12, 12): 1,
}
for swap in fwd_swaps.keys():
    rate = swap.rate(s_cv).real
    fwd_swaps[swap] = rate
    swap.set_fixed_rate(fixed_rate=rate)
fwd_swaps

risk = {}
for swap in fwd_swaps.keys():
    risk.update({swap.end: swap.risk(s_cv)[:, 0]})

df = pd.DataFrame(risk, index=["1y", "2y", "5y", "10y"])
df.style.format("{:.3f}")

What we have done above is to risk forward swaps against our curve. When we scale each of these columns to one we have effectively built a Jacobian transformation for forward swaps to par swaps.

In [32]:
J_fwd_par = (df / df.sum()).to_numpy()
pd.DataFrame(J_fwd_par).style.format("{:.3f}")

### Par to Forward Jacobian

Lets consider the process in reverse, defining our curve from forward swaps.

In [33]:
s_cv = SolvedCurve(
    nodes=nodes,
    swaps=list(fwd_swaps.keys()),
    obj_rates=list(fwd_swaps.values()),
    interpolation="log_linear",
    algorithm="levenberg_marquardt"
)
print(s_cv.iterate())

tolerance reached (levenberg_marquardt) after 8 iterations, func: 7.184331719832112e-16

In [34]:
for swap in fwd_swaps.keys():
    print(swap.rate(s_cv).real)

1.2099999938339168
2.068792362475484
2.0602226928812164
1.9797176107904535

In [40]:
risk = {}
for swap in fwd_swaps.keys():
    risk.update({swap.end: swap.risk(s_cv)[:, 0]})
    
df = pd.DataFrame(risk, index=["1y", "1y1y", "2y3y", "5y5y"])
df.style.format("{:.3f}")

In [41]:
risk = {}
for swap, rate in swaps.items():
    risk.update({swap.end: swap.risk(s_cv)[:, 0]})

df = pd.DataFrame(risk, index=["1y", "1y1y", "2y3y", "5y5y"])
df.style.format("{:.3f}")

What we have done above is to risk par swaps against our forward curve. When we scale each of these columns to one we have effectively built a Jacobian transformation for par swaps to forward swaps.

In [38]:
J_par_fwd = (df / df.sum()).to_numpy()
pd.DataFrame(J_par_fwd).style.format("{:.3f}")

### Testing the lossless nature of our numerical library

We should be able to convert and then convert back to obtain the same risks.

Suppose we convert 1000 10Y par risk to fwd risk and then back to par risk, what happens?

In [15]:
par_risk = np.array([0, 0, 0, 1000])[:, np.newaxis]
fwd_risk = np.matmul(J_par_fwd, par_risk)
fwd_risk

array([[109.57822051],
       [106.58425054],
       [308.03173736],
       [475.80579158]])

In [16]:
par_risk_reversed = np.matmul(J_fwd_par, fwd_risk)
par_risk_reversed

array([[ 4.65625473e-01],
       [ 6.24084350e-03],
       [-9.67230625e-01],
       [ 1.00049536e+03]])

This is close, but we have lost some precision due to either machine precision or numerical truncation.

The same can be seen if we compare the analytical inverses of the Jacobians.

In [17]:
pd.DataFrame(J_par_fwd - np.linalg.inv(J_fwd_par)).style.format("{:.4f}")

In [18]:
pd.DataFrame(J_fwd_par - np.linalg.inv(J_par_fwd)).style.format("{:.4f}")